* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f1ecea;
}

.cafeimg {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #d19461;
}

.texto {
    margin: 1em;
    color: white;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.encabezado-articulo {
    background-color: #3a251c;
    width: 100px;
    height: 100px;
    text-align: center;
    display: grid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.encabezado-h1 {
    color: white;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.encabezado{
    height: 100px;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #3a251c;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.center {
    display: grid;
    place-items: center;
}

#contenedor {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor-cafe {
    margin: 1em;
    text-align: justify;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cultivoimg {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #e7d08e;
    
}

.menu {
    height: 80px;
    display: grid;
    place-items: center;
    background-color: #b46424;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.fueraseccion {
    background-color: #b58c7c;
}

.seccion {
    background-color: #362f2f;
    margin: 0.5em;
}

a {
    text-decoration: none;
    color: #f1ecea;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    text-decoration: none;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-size: 1.1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grid2 {
    margin: 2em;
    gap: 1em;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
}

.lista-aside {
    font-size: 30px;
    display: flex;
    gap: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.grid {
    display: grid;
    grid-template-columns: 64% 35%;
    gap: 0;
    background-color: #b58c7c;
}

.pie {
    background-color: #3a251c;
    height: 60px;
    display: grid;
    place-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pie h4{
    color: #9e8559;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

strong{
    color: crimson;
}

a:hover{
    color: #9e8559;
}

.ullist{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.li{
    margin: 10px;
}
